<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hahellomagento" frontName="hahellomagento">
            <module name="Lof_HaHelloMagento" />
        </route>
        <route id="customer">
           <module name="Lof_HaHelloMagento" before="Magento_Customer" />
       </route>
    </router>
</config>